/*
  foto:Pinkrice (c) 2010
*/

body {
	background: #959796 url(../images/wood-repeat.jpg);
}

#container {
	width: 700px; margin: 40px auto;
}

h1 {
	font: bold 65px/60px Helvetica, Arial, Sans-serif;
	text-align: center; color: #eee;
	text-shadow: 0px 2px 6px #333;
}

h2, h2 a {
	display: block; text-decoration: none; margin: 0 0 30px 0;
	font: italic 45px Georgia, Times, Serif;
	text-align: center; color: #bfe1f1;
	text-shadow: 0px 2px 6px #333;
}
	h2 a:hover {
		color: #90bcd0;
	}

ul.gallery {
	list-style: none;
}
ul.gallery li a {
	position: relative;
	float: left;
  margin: 15px;
	padding: 10px 10px 25px 10px;
	background: #eee;
	border: 2px solid #fff;
	-moz-box-shadow: 0px 2px 15px #333;
}

	ul.gallery li a:hover {
		z-index: 100;
		-moz-box-shadow: 3px 5px 15px #333;
	}

  img {
    border-style: none
    }
