<lift:surround with="albumtemplate" at="content">

    <lift:Album.showTitle>
      <h1><album:title/></h1>
      <h2><a href="/">back</a></h2>
    </lift:Album.showTitle>

    <lift:Album.showPhotos>

				<!-- Start Advanced Gallery Html Containers -->
				<div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container"></div>
				</div>
        
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
            <photo:list>
                <li>
                    <photo:thumb/>
                </li>
            </photo:list>
          </ul>
        </div>

    </lift:Album.showPhotos>

</lift:surround>