<lift:surround with="default" at="content">
  <div id="container">
    <h1>ageofish</h1>
    <h2>Albums</h2>
    <lift:Home.showAlbums>
      <ul class="gallery">
        <album:list>
          <li>
          <album:thumb/>
          </li>
        </album:list>
      </ul>
    </lift:Home.showAlbums>
  </div>
</lift:surround>

